body{
	background-color: #90EE90;
	
}
h2{
	text-align: center;
}

a:link{
	color: #006400 ;
}
a:hover{
	background-color: #00FA9A;
	color: white;
}
a{
	text-decoration: none;
	color: #87CEEB;
	font-size: 18px;
	text-align: right;
	}
h1{
	text-align: center;
}

#Cabeçalho { 
	text-align: right;
	background-color: white;
	border: 15px ridge #3CB371;
	padding: 0px 0px 0px 0px;
	
}
#Rodapé {
	text-align: center;
	font-size: 15px;
	margin: 2px ;
	padding: 20px;
	color: white;
	background: #343434;
}
.Menu {
	margin: 5px auto;
}
.foto{
	border: 1px solid black;
	image-rendering: center;
	/*padding: 0px 0px 0px 0px;*/
	margin: 2px;

}
.Conteudo {
	width: 76%; 
	margin: 1px ;
	background-color:rgba(0,0,0, 0.35);
	padding: 0px 0px 0px 5px;
	float: left;

}
.Conteudo2 {
	float: left;
	width: 21%; 
	/*height: 200px;*/
	background-color:rgba(0,0,0, 0.35);
	padding: 0px 0px 0px 5px;
	margin: 1px;
}
.clear {
	clear: both;
}
.efeito{
	background-color:rgba(0,0,0, 0.35);
	padding: 5px 0px 0px 5px;
}