/* TAGS */
p{
	padding: 10px 10px 10px 10px;
	color: white;
	font-family: times;
	font-size: 18px;
}
h1{
	color: white;
	font-size: 35px;
	text-align: center;
	text-shadow: 1px 1px 1px #111111; 
	padding: 0px 0px 50px ;
}
h2{
	color: white ;
	padding: 20px;
	font-size: 20px;
	font-family: time;
	text-align: center;
	text-shadow: 10px 10px 10px #111111; 
}
h3{
	color: #AAAAAA ;
	font-size: 25px;
	font-family: time;
	text-align: center;
	text-shadow: 10px 10px 10px #111111; 
}
img {
    max-width: 100%;
}
body{
	background-color: black ;
	min-width: 280px;
}
*{
	margin: 0;
	padding: 0;
}
head{
	background-color: black ;
	color:black;
}
header{
	background-image: url('../../imagens/univi.jpeg');
	background-size: 100%;
	height: 40px;
	padding: 45px ;
}
footer{
	font-size: 15PX;
	text-align: center;
	color: white;
	background-image: url('../../imagens/univi.jpeg');
	background-size: 100%;
	text-shadow: 1px 1px 1px #111111;
}
/* IDS */
#div_principal{
	float: center;
	background-image: url('../../imagens/u.jpg');
	background-size: 100%;
	padding: 20px 05px 05px 20px ;
}
#menu{
	float: right;
	color : black;
	margin-top: 30px;
}
#menu a{
	padding: 1px 20px ;
	margin: 15px;
	color:white;
	text-shadow: 1px 1px 1px #111111 ;
	text-decoration: none;
}
#menu a:hover{
	background-color: purple;
	color: black;
}
#men{
	padding: 25px ;
	float: center;
	color : black;
}
#men a{
	padding: 25px 15px;
	color:white;
	text-shadow: 1px 1px 1px #111111;
	text-decoration: none;
}
#men a:hover{
	background-color: purple;
	color: black;
}

#foto {
    width: auto;
    max-width: 100%;
    text-align: center;
    padding: 40px 20px;
}
#logo{
	float: left;
}
/* CLASS */
.efeito{
	background-color:rgba(0,0,0, 0.5);
	padding: 0px 0px 0px 0px;
}